<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#" routerLink="/">HEART</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/privacy-policy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/support">Support</a>
                    </li>
            </ul>
        </div>
    </div>

</nav>