<section id="support-url" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="animated zoomInRight" style="color: navy"><strong>Support</strong></h1>
                <hr>
                <h5>Email</h5>
                <p>trey.a.hope@gmail.com</p>
                <h5>Phone</h5>
                <p>(937)270-5527</p>
            </div>
        </div>
    </div>
</section>